<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>detail <span id="ids"></span></p>
</body>
<script>
    function ambilID() {
        var url = new URL(window.location.href);
        document.getElementById('ids').innerText=url.pathname.split('/')[2];
        console.log(url.pathname.split('/'));

    }
    window.addEventListener('load',ambilID)
</script>

</html>